.emoji-picker-react .emoji-group:before {
  color: #d3d3d3 !important;
  background: none !important;
}

aside.emoji-picker-react {
  width: 100% !important;
}
.emoji-picker-react .emoji-categories {
  background: #d3d3d3 !important;
}
