#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  min-height: 7vh;
  cursor: pointer;
}

#my-name {
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  max-height: 80vh;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: black !important;
  .profile-pic {
    background-color: black;
  }
  .profile-name {
    background-color: black;
  }
}

.list-group-item-selected {
  background-color: black !important;
  color: #e2e2e2 !important;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  .profile-pic {
    background-color: black;
  }
  .profile-name {
    background-color: black;
  }
}

b {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#my-profile {
  height: 4vh;
  margin-right: 15px;
}

.profile-pic {
  height: 3vh;
  width: 3vh;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.list-group-item {
  color: #e2e2e2 !important;
  background: #2b2b2b !important;
}

.notification-bell {
  border: none;
  background-color: #b1402a;
  border-radius: 50%;
  height: 35px;
  margin-left: 10px;
  width: 35px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #24b82b;
  border-radius: 50%;
  display: inline-block;
}
